{% extends 'base.html' %}
{% block title %}Edit Note{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 class="display-4">Edit Note</h1>

  <form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form
  if field.widget.input_type != 'hidden' %}
      <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
    {% endfor %}
    <div class="row">
      <button type="submit" class="btn btn-success">Submit!</button>
    </div>
  </form>
</div>



  {% endblock %}