{% extends 'base.html' %}

{% block title %}Create New User{% endblock %}

{% block content %}
<div class="container-fluid">
  <form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form
  if field.widget.input_type != 'hidden' %}
      <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Register</button>

  </form>
</div>

  {% endblock %}