{% extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}
<h1>{{user.username}}</h1>

<ul>
  <li>First Name: {{user.first_name}}</li>
  <li>Last Name: {{user.last_name}}</li>
  <li>E-mail: {{user.email}}</li>
</ul>

<ul>
  {% for note in user.notes %}
  <li>
    <a href="/notes/{{ note.id }}/update"></a>
    <a href="/notes/{{ note.id }}/delete"></a>
    {{ note.title }} {{ note.content }}</li>
  {% endfor %}
</ul>

<form action="/users/{{ user.username }}/notes/add" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-primary">Add Note</button>
</form>

<form action="/logout" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-primary">Logout</button>
</form>

<form action="/users/{{ user.username }}/delete" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-primary">Delete</button>
</form>


{% endblock %}